body {
    font-family: 'Montserrat', sans-serif;
}

h1{
    text-transform: uppercase; letter-spacing: 0.06em; margin-bottom: 40px;
}

#map {
    width: 100%; height: 100%;
}

.info-window {
    font-family: 'Montserrat', sans-serif;
}
.info-content {
    color: #999;
}

.navbar-brand img {
    width:150px;
    height:30px;
}

.fb-login-button {
    width:150px;
    height:30px;
}

.formOcorrencia {
    padding-top: 60px;
    padding-left: 60px;
}

.form-inline{
    padding-bottom: 20px;
}

.form-group{
    padding-right: 90px;
}

.fb-login-button {
    padding-top: 10px;
}

.section {
  width: 100%;
}

#idEndereco {
    width: 30%;
}

#idTipo {
    width: 30%;
}

#idDescricao {
    width: 40%;
}

#btnSubmit {
    background-color: #4CAF50; /* Green */
    color: white;
}

#eventForm{
    background-color: #F5F5F5;
    height: 100%
}

@media (min-width: 992px) {
    .collapsed {
        display: block;
        margin-right: -25%; /* same width as sidebar */
    } 
}

#row-main {
    margin-left: 0;
    margin-right: 0;
}

/*#floating-panel {
    background-color: #fff;
    border: 1px solid #999;
    left: 25%;
    padding: 5px;
    position: absolute;
    top: 10px;
    z-index: 5;
}
