<ion-header>
  <ion-navbar color="secondary">
   <!--<img src="assets\\imagens\\logo1.png" width="35%">-->
   <ion-title>
   Não Vacila
   </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <div *ngIf='loading' id="carregar">Carregando ocorrências...</div> -->

  <ion-fab right bottom >
    <button ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
    
    <ion-fab-list side="top">
      <button ion-fab (click)="abrirRegistrarOcorrencia()">
        <ion-icon name="clipboard"></ion-icon>
        <ion-label>Registrar Ocorrência</ion-label>
      </button>

      <button ion-fab (click)="abrirCriarRota()">
        <ion-icon name="navigate"></ion-icon>
        <ion-label>Criar Rota Segura</ion-label>
      </button>
      
      <button ion-fab>
        <ion-icon name="call"></ion-icon>
        <ion-label>Chamada de Emergência</ion-label>
      </button>
    </ion-fab-list>
 
  </ion-fab>

  <ion-fab  left bottom>
    <button ion-fab mini color="light" (click)="centralizarMinhaLocalizacao()"><ion-icon name="locate"></ion-icon></button>
  </ion-fab>

  <ion-card *ngIf = 'exibirPanelDirection'>
    <ion-card-content>
      <div #directionsPanel></div>
    </ion-card-content>
  </ion-card>

  <div #map id="map"> </div>

</ion-content>
