.login-content {
    background-image: url('../assets/imagens/teste.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom; 
    background-size: contain;
}

.logo-image{
    text-align: center;
    padding-top: 90px;
  }

  .top-row{
    height: 80%;
  }

  .bottom-row{
    height: 20%;

  }